.centered
{
text-align:center;
color:#3B14D9;
font-size:70;
font-style:oblique;
 text-shadow: 5px 2px #ff0000;
 font-family: Georgia, serif;
   padding: 5px;
   
    transform: translate(0%, -800%);
   }
 .w3ls-agile-left-info  .social-info h4 {
    font-size: 1.6em;
    margin: 0;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3ls-agile-left-info p
{
    text-align: left;
       color: #827e7e;
    font-size: 2.95em;
}
#header
{
    height: 100%;
}
.caption h1
{
font-size: 72px;

}